<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sedwt.icloud.mapper.OrderMapper">
    <insert id="createOrder" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO stock_order(stock_id, name, create_time) VALUES (#{stockId}, #{name}, #{createTime})
    </insert>
</mapper>